<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysea.hyseaappapi.dao.HyBlogMapper">
	
	<select id="selectCountByCreateTime" resultType="java.lang.Integer">
		select count(*) 
		from hy_blog 
		where create_time = #{createTime}
	</select>
	
	<select id="selectAllByCreateTime" resultMap="HyBlog">
		select * 
		from hy_blog 
		where create_time = #{createTime}
	</select>
	
	<delete id="deleteHyBlogByCreateTime">
		delete from hy_blog
		where create_time = #{createTime}
	</delete>
	
	<update id="updateHyBlogByCreateTime">
		update hy_blog
		<trim prefix="set" suffixOverrides=",">
			<if test="blogContent != null">
				blog_content = #{blogContent},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="blogViewCount != null">
				blog_view_count = #{blogViewCount},
			</if>
			<if test="blogId != null">
				blog_id = #{blogId},
			</if>
			<if test="blogTitle != null">
				blog_title = #{blogTitle},
			</if>
		</trim>
		where create_time = #{createTime}
	</update>
	
	<insert id="batchInsertHyBlog" keyProperty="blogId" useGeneratedKeys="true">
		insert into hy_blog (`create_time`,`blog_content`,`update_time`,`blog_view_count`,`blog_id`,`blog_title`)
		values
		<foreach collection="hyBlogList" item="hyBlog" index="index" separator=",">
			(#{hyBlog.createTime},#{hyBlog.blogContent},#{hyBlog.updateTime},#{hyBlog.blogViewCount},#{hyBlog.blogId},#{hyBlog.blogTitle})
		</foreach>
	</insert>
	
	<insert id="insertHyBlog" keyProperty="blogId" useGeneratedKeys="true">
		insert into hy_blog (`create_time`,`blog_content`,`update_time`,`blog_view_count`,`blog_id`,`blog_title`)
		values
		(#{createTime},#{blogContent},#{updateTime},#{blogViewCount},#{blogId},#{blogTitle})
	</insert>
	
	<select id="selectAll" resultMap="HyBlog">
		select * 
		from hy_blog 
	</select>
	
	
	<resultMap id="HyBlog" type="com.hysea.hyseaappapi.entity.po.HyBlog">
		<result column="create_time" property="createTime"/>
		<result column="blog_content" property="blogContent"/>
		<result column="update_time" property="updateTime"/>
		<result column="blog_view_count" property="blogViewCount"/>
		<result column="blog_id" property="blogId"/>
		<result column="blog_title" property="blogTitle"/>
	</resultMap>
</mapper>
